* {
	box-sizing: border-box;
}

.container {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto' 'Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.main {
  max-width: 1400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: -20px;
}

.main__image {
  flex: 30.3333%;
  margin-right: 20px;
  margin-bottom: 30px;
}

.main__image img {
  width: 100%;
  height: auto;
}

hr {
  color: #CCCCCC;
}

.footer {
  border-top: 1px solid #CCCCCC;
  max-width: 1400px;
  width: 100%;
}

.footer__copyright {
  font-family: 'Roboto' 'Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #CCCCCC;
}

@media(max-width: 400px) {

  .main__image{
    flex: 100%;
  }
}